h1{
    font-size: 48px;
    color:#006837;
    text-align: center;
    margin-bottom: 30px;
}
.imagem-banner{
    width: 100%;
    background-image: url("../img/enchente-rio-do-sul-001.jpg" );
    height: 900px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    color:#000;
    font-weight: bold;
    margin-bottom: 0 auto;
}

.imagem-banner figcaption{
    color: #fff;
}

.imagem-banner figcaption a{
    color: #fff;
    width: 100%;
}

.urgente-paragrafo{
    width: 100%;
    max-width: 1280px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    font-size: 18px;
    box-shadow: 10px 10px 4px #00000025;
    margin: 30px auto;
    text-align: justify;
}
#segundo-paragrafo{
    width: 100%;
    max-width: 1280px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    font-size: 18px;
    box-shadow: 10px 10px 4px #00000025;
    margin: 30px auto;
    text-align: justify;
    list-style-position: inside;
}
h2{
    font-size: 28px;
    color:#006837;
    text-align: center;
    margin-bottom: 30px;
}
blockquote{
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
blockquote a{
    color: #000;
}